<article class="bg-indigo-600 py-6 w-11/12 rounded-lg duration-500">
    <div class="flex flex-col  items-center">
        <h3 class="text-xl text-white mb-3 ">Titulo de pqrs</h3>
        <p class="text-lg text-white mb-3">Fecha de creacion</p>
        <p class="text-lg text-white mb-3">Tipo de pqrs</p>
        <p class="text-lg text-white mb-3">Estado de pqrs</p>
        <button class="btnActPqrs mb-3 btn-actualizar" id="modal-actualizar">Actualizar Reporte</button>
        <button class="btnDelPqrs btn-borrar" id="modal-borrar">Borrar Reporte</button>
    </div>

    <i class="fa-solid fa-gamepad relative bottom-[265px] left-[25px] rotate-[15deg]"></i>
    <i class="fa-solid fa-computer relative bottom-[172px] rotate-[18deg]"></i>
    <i class="fa-solid fa-microchip relative left-[-57px] bottom-[64px]"></i>
    <i class="fa-solid fa-headphones relative left-[185px] bottom-[60px] rotate-[341deg]"></i>
    <i class="fa-solid fa-computer-mouse relative bottom-[168px] left-[149px]"></i>
    <i class="fa-solid fa-keyboard relative rotate-[345deg] left-[125px] bottom-[260px]"></i>
</article>

<article class="bg-indigo-600 py-6 w-11/12 rounded-lg duration-500">
<div class="flex flex-col  items-center">
    <h3 class="text-xl text-white mb-3 ">Titulo de pqrs</h3>
    <p class="text-lg text-white mb-3">Fecha de creacion</p>
    <p class="text-lg text-white mb-3">Tipo de pqrs</p>
    <p class="text-lg text-green-500 mb-3 font-semibold">Aprobado</p>
    <button class="btnActPqrs mb-3">Ver reporte</button>
    <button class="btnDelPqrs" disabled title="Ya no puedes borrar este reporte">No se puede borrar</button>
</div>

<i class="fa-solid fa-gamepad relative bottom-[265px] left-[25px] rotate-[15deg]"></i>
<i class="fa-solid fa-computer relative bottom-[172px] rotate-[18deg]"></i>
<i class="fa-solid fa-microchip relative left-[-57px] bottom-[64px]"></i>
<i class="fa-solid fa-headphones relative left-[185px] bottom-[60px] rotate-[341deg]"></i>
<i class="fa-solid fa-computer-mouse relative bottom-[168px] left-[149px]"></i>
<i class="fa-solid fa-keyboard relative rotate-[345deg] left-[125px] bottom-[260px]"></i>
</article>

<article class="bg-indigo-600 py-6 w-11/12 rounded-lg duration-500">
<div class="flex flex-col  items-center">
    <h3 class="text-xl text-white mb-3 ">Titulo de pqrs</h3>
    <p class="text-lg text-white mb-3">Fecha de creacion</p>
    <p class="text-lg text-white mb-3">Tipo de pqrs</p>
    <p class="text-lg text-red-600 mb-3 font-semibold">Rechazado</p>
    <button class="btnActPqrs mb-3">Ver reporte</button>
    <button class="btnDelPqrs" disabled title="Ya no puedes borrar este reporte">No se puede borrar</button>
</div>

<i class="fa-solid fa-gamepad relative bottom-[265px] left-[25px] rotate-[15deg]"></i>
<i class="fa-solid fa-computer relative bottom-[172px] rotate-[18deg]"></i>
<i class="fa-solid fa-microchip relative left-[-57px] bottom-[64px]"></i>
<i class="fa-solid fa-headphones relative left-[185px] bottom-[60px] rotate-[341deg]"></i>
<i class="fa-solid fa-computer-mouse relative bottom-[168px] left-[149px]"></i>
<i class="fa-solid fa-keyboard relative rotate-[345deg] left-[125px] bottom-[260px]"></i>
</article>

{# inclusion de los modals xd#}
{% include 'components/modals.html' %}