{% for reportes in object_list %}
<article class="bg-indigo-600 py-6 w-11/12 rounded-lg duration-500 max-w-[351px] min-w-[345px]">
    <div class="flex flex-col  items-center">
        <h3 class="text-lg font-semibold text-white mb-3 text-center ">{{ reportes.title }}</h3>
        <p class="text-lg text-white mb-3">{{ reportes.fecha_creacion|date:"d/m/Y" }}</p>
        <p class="text-lg text-white mb-3">{{ reportes.id_tipo_pqrs }}</p>

        {% if reportes.id_estado.nombre == 'Pendiente' %}
        <p class="text-lg text-white mb-3">{{ reportes.id_estado }}</p>
        {% elif reportes.id_estado.nombre == 'Aprobado' or reportes.id_estado.nombre == 'En proceso' %}
        <p class="Aprobado text-lg text-green-500 mb-3 font-semibold">{{ reportes.id_estado }}</p>
        {% elif reportes.id_estado.nombre == 'Rechazado' %}
        <p class="Rechazado text-lg text-red-600 mb-3 font-semibold">{{ reportes.id_estado }}</p>
        {% endif %}

        {% if reportes.id_estado.nombre == 'Pendiente' %}
        <a href="{% url 'update-pqrs' reportes.pk%}" class="btnActPqrs mb-3 btn-actualizar" id="modal-actualizar">Actualizar Reporte</a>
        <button class="btnDelPqrs btn-borrar" id="modal-borrar" data-bs-toggle="modal" data-bs-target="#modalDelete{{ reportes.id }}">Borrar Reporte</button>
        {% else %}
        <button class="btnActPqrs mb-3 button-view" id="button-view" data-bs-toggle="modal" data-bs-target="#modalVer{{ reportes.id }}" >Ver reporte</button>
        <button class="btnDelPqrs" disabled title="Ya no puedes borrar este reporte">No se puede borrar</button>
        {% endif %}
    </div>

    <i class="fa-solid fa-gamepad relative bottom-[265px] left-[25px] rotate-[15deg]"></i>
    <i class="fa-solid fa-computer relative bottom-[172px] rotate-[18deg]"></i>
    <i class="fa-solid fa-microchip relative left-[-57px] bottom-[64px]"></i>
    <i class="fa-solid fa-headphones relative left-[185px] bottom-[60px] rotate-[341deg]"></i>
    <i class="fa-solid fa-computer-mouse relative bottom-[168px] left-[149px]"></i>
    <i class="fa-solid fa-keyboard relative rotate-[345deg] left-[125px] bottom-[260px]"></i>
</article>

{% include "components/modals.html" %}

{% empty %}
<h2 class="text-6xl font-semibold text-center mt-6 col-span-3">No Tienes reportes disponibles 🧐</h2> 

{% endfor %}
{# inclusion de los modals xd#}