# --------------------
# Python & Django
# --------------------

# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo

# Ignorar archivos de base de datos SQLite
*.sqlite3
db.sqlite3

# --------------------
# Entorno Virtual
# --------------------

# Ignorar entornos virtuales propios de cada desarrollador
env/
venv/
develop/
Python/

# --------------------
# Node & npm
# --------------------

# Ignorar el directorio de dependencias
node_modules/

# --------------------
# IDE'S
# --------------------
.idea/
.vscode/

# --------------------
# Otros
# --------------------
migration/