{# Extension Layout principal#}
{% extends 'layouts/landing.html' %}

{# Se usa el "load static" para hacer uso de archivos estáticos #}
{% load static %}

{# Declaracion comlemento titulo pagina #}
{% block title_header  %}Home{% endblock  %}

{# Declaracion Clases Body #}
{% block body_class %}flex flex-col min-h-screen bg-gray-100{% endblock %}

{# Declaracion Clases Main #}
{% block main_class %}container my-10 text-justify mx-auto flex-grow  mx-2{% endblock %}

{# Contenido Principal pagina #}
{% block main %}
  {# Contenido del carrusel y de las imágenes de la primera vista #}
  <div class="hidden md:grid grid-cols-3 gap-y-2 sm:gap-1 imgs-landing">
      <div class="sm:col-span-2">
          <div id="carouselExampleAutoplaying" class="carousel slide flex" data-bs-ride="carousel">
    
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
      
      <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/landing/f-1.jpg'%}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/landing/f-2.jpg'%}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/landing/f-3.jpg'%}" class="d-block w-100" alt="...">
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
    <div class="flex flex-col justify-center gap-y-1">
      <img src="{% static 'img/landing/f-5.jpg' %}" alt="" class="rounded object-contain cursor-pointer hover:rotate-1 transition-all duration-500">
      <img src="{% static 'img/landing/f-3.jpg' %}" alt="" class="rounded object-contain cursor-pointer hover:-rotate-1 transition-all duration-500">
    </div>
  </div>

  {# Sección de las categorías de los productos #}
  <section class="mb-0 sm:my-16 mx-auto" id="categorias">
    <div class="flex flex-col gap-y-1">
      <h1 class="text-center text-2xl font-medium">Categorías de Productos</h1>
      <h2 class="text-center mb-10 ">Encuentra los mejores componentes al mejor precio</h2>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 bg-gray-100 gap-6 transition-all">
      <div class="flex flex-col justify-center">
        <a href="" class="hover:text-gray-800">
          <img src="{% static 'img/categories/Tarjeta Gráfica.jpg' %}" class="rounded transition-all duration-300 hover:scale-95 hover:shadow-2xl" alt="Img de Tarjeta Gráfica">
          <p class="text-center py-2 font-medium text-lg text-gray-800">Tarjetas Gráficas</p>
        </a>
      </div>
      <div class="flex flex-col justify-center transition-all">
        <a href="" class="hover:text-gray-800">
          <img src="{% static 'img/categories/procesador.jpg' %}" class="rounded transition-all duration-300 hover:scale-95 hover:shadow-2xl" alt="Img de Procesador">
          <p class="text-center py-2 font-medium text-lg">Procesadores</p>
        </a>
      </div>
      <div class="flex flex-col justify-center transition-all">
        <a href="" class="hover:text-gray-800">
          <img src="{% static 'img/categories/Perifericos.jpg' %}" class="rounded transition-all duration-300 hover:scale-95 hover:shadow-2xl" alt="Img de Periféricos">
          <p class="text-center py-2 font-medium text-lg">Periféricos</p>
        </a>
      </div>
      <div class="flex flex-col justify-center transition-all">
        <a href="" class="hover:text-gray-800">
          <img src="{% static 'img/categories/mother-board.jpg' %}" class="rounded transition-all duration-300 hover:scale-95 hover:shadow-2xl" alt="Img de Mother-Board">
          <p class="text-center py-2 font-medium text-lg">Tarjetas Madre</p>
        </a>
      </div>
      <div class="flex flex-col justify-center transition-all">
        <a href="" class="hover:text-gray-800">
          <img src="{% static 'img/categories/Fuente de poder.jpg' %}" class="rounded transition-all duration-300 hover:scale-95 hover:shadow-2xl" alt="Img de FdP">
          <p class="text-center py-2 font-medium text-lg">Fuentes de Poder</p>
        </a>
      </div>
      <div class="flex flex-col justify-center transition-all">
        <a href="" class="hover:text-gray-800">
          <img src="{% static 'img/categories/ram.png' %}" class="rounded transition-all duration-300 hover:scale-95 hover:shadow-2xl" alt="Img de Ram">
          <p class="text-center py-2 font-medium text-lg">Ram's</p>
        </a>
      </div>
      <div class="flex flex-col justify-center transition-all">
        <a href="" class="hover:text-gray-800">
          <img src="{% static 'img/categories/Almacenamiento.jpg' %}" class="rounded transition-all duration-300 hover:scale-95 hover:shadow-2xl" alt="Img de Almcenamiento">
          <p class="text-center py-2 font-medium text-lg">Almacenamiento</p>
        </a>
      </div>
      <div class="flex flex-col justify-center transition-all">
        <a href="" class="hover:text-gray-800">
          <img src="{% static 'img/categories/cases.jpg' %}" class="rounded transition-all duration-300 hover:scale-95 hover:shadow-2xl" alt="Img de Cases">
          <p class="text-center py-2 font-medium text-lg">Cases</p>
        </a>
      </div>
      <div class="flex flex-col justify-center transition-all">
        <a href="" class="hover:text-gray-800">
          <img src="{% static 'img/categories/Monitores.jpg' %}" class="rounded transition-all duration-300 hover:scale-95 hover:shadow-2xl" alt="Img de Monitores">
          <p class="text-center py-2 font-medium text-lg">Monitores</p>
        </a>
      </div>
    </div>
  </section>
{% endblock  %}