{% extends 'adminlte/base.html' %}
{% load static %}

{# vinculacion a los estilos y a tailwind#}
{% block stylesheets %}
    {% include 'adminlte/lib/_styles.html' %}
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
{% endblock %}

{% block nav_header %}
    {% include "components/header_main.html" %}
{% endblock %}

{% block nav_sidebar %}
    {% include "components/sliderbarmain.html" %}
{% endblock %}

