<form class="d-flex mt-3 w-2/4 mx-auto " action="{% url 'search' %}" value="{{ query }}">
    <input title="Al buscar introduzca el titulo de su reporte para que la busqueda sea efectiva" name="query" class="form-control me-2 py-2 rounded-full shadow-xl shadow-indigo-600/30" type="search" placeholder="Buscar Reporte" aria-label="Search">
    <button class="px-4 rounded-full bg-indigo-600 text-white shadow-xl shadow-indigo-600/30 hover:bg-indigo-200 hover:text-indigo-600 duration-300" type="submit">Buscar Reporte</button>
</form>