{# Importacion Archivos estaticos (Resources)#}
{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Codificacion de los caracteres-->
        <meta charset="UTF-8">

        <!-- Escala de representacion en la pantalla del cliente -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Establecer compatibilidad con Internet explorer al ejecutarlo en edge -->
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Titulo Principal Pagina web (Nombre empresa + Titulo Personalizado)-->
        <title>{% block title_header %}Default{% endblock %} - PcGlobal</title>        

        <!-- Include Fontawesome -->
        <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">

        <!-- Include General Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/style.min.css' %}">

        <!-- Include App Stylesheet -->
        <link rel="stylesheet" href="{% static 'authentication/style.css' %}">
    </head>
    <body class="{% block body_class %}{% endblock %}">
        
        <!-- Contenido Pricnipal-->
        <main class="{% block main_class %}{% endblock %}"> 

            {# Definicon bloque de contenido principal#}
            {% block main%}{% endblock %}

        </main>
        
    </body>
</html>