{# Extension Layout AdminLTE #}
{% extends 'adminlte/login.html' %}

{# Cargado de archivos estaticos #}
{% load static %}

{% block title_outer %}
    <title>{% block title%}{% endblock%} | PcGlobal</title>
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
{% endblock %}

{# Sobreescritura clases adicionales Body #}
{% block body_class %}{{view}}-page{% endblock %}

{# Sobreescritura seccion Body #}
{% block body %}

    <div class="{{view}}-box">

        <!--Enlace Home Landing Page-->
        <div class="login-logo">
            <a href="{% url 'index' %}">
                <p>
                    <b>PcGlobal</b>
                </p>
            </a>
        </div>

        <!-- Visualizacion de errores -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">

                <br>Errores: </br>
                <ul>
                    {% for error in form.errors %}
                        <li>
                            <p>{{ error }}</p>
                        </li>
                    {% endfor %}    
                </ul>
            </div>
        {% endif %}

        <!-- Formulario Login -->
        <div class="card card-outline card-primary">

            <!--Encabezado Card-->
            <div class="card-header">
                <h3 class="card-title float-none text-center">
                    {% block title_card %}{% endblock %}
                </h3>
            </div>

            <!--Cuerpo Card-->
            <div class="card-body login-card-body {% block card_class %}{% endblock %}">
                <form method="post">

                    <!--Token de seguridad-->	
                    {% csrf_token %}

                    {# Bloque de Inputs a Generar #}
                    {% block inputs %}{% endblock %}

                    <!-- Boton Login -->
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-block btn-flat btn-primary indigo-600">

                                {# Generado dinamico del boton submit#}
                                {% if view == "login" %}

                                    <span class="fas fa-sign-in-alt"></span>
                                    Iniciar sesión
                                    
                                {% elif view == "register" %}

                                    <span class="fas fa-sign-in-alt"></span>
                                    Registrarse

                                {% endif %}

                            </button>
                        </div>
                    </div>
                </form>
            </div>

        <!-- Enlace Formulario de Registro -->
        <div class="card-footer">
            <p class="my-0">

                {% if view == "login" %}
                    <a href="{% url 'register' %}">
                        ¿No tienes una cuenta? Registrate
                    </a>
                {% elif view == "register" %}
                    <a href="{% url 'login' %}">
                        ¿Ya tienes una cuenta? Inicia sesión
                    </a>
                {% endif %}
                
            </p>
        </div>

    </div>    
{% endblock %}