{# Extension Layout principal#}
{% extends 'auth_layout.html' %}

{# Carga de archivos estaticos #}
{% load static %}

{# Redeclaracion links a hojas de estilos #}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/boostrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
{% endblock %}

{# Declaracion comlemento titulo pagina #}
{% block title %}Crea una cuenta{% endblock  %}

{# Declaracion Clases Main #}
{% block title_card %}Registrate para iniciar sesion{% endblock %}

{# Contenido del formualrio de autentiaccion #}
{% block inputs %}
    
{% endblock %}