{# Extension Layout de Autenticacion #}
{% extends 'auth_layout.html' %}

{# Complemento title de la pagina #}
{% block title %}Login{% endblock %}

{# Titulo card #}
{% block title_card %}Autenticarse para iniciar sesión{% endblock %}

{# Decalaracion de inputs a mostrar #}
{% block inputs %}

    <!-- Input: Correo Electrnico -->
    <div class="input-group mb-3">
        <input type="email" name="email" class="form-control" placeholder="Correo Electronico" autofocus>

        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope "></span>
            </div>
        </div>
    </div>

    <!-- Input: Contraseña -->
    <div class="input-group mb-3">
        <input type="password" name="password" class="form-control" placeholder="Contraseña">

        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock "></span>
            </div>
        </div>
    </div>

{% endblock %}