{# Extension Layout principal#}
{% extends 'auth_layout.html' %}

{# Se usa el "load static" para hacer uso de archivos estáticos #}
{% load static %}

{# Declaracion comlemento titulo pagina #}
{% block title_header %}Registro{% endblock  %}

{# Declaracion Clases Body #}
{% block body_class %}register-page{% endblock %}

{# Declaracion Clases Main #}
{% block main_class %}{% endblock %}

{# Contenido del formualrio de autentiaccion #}
{% block form %}
    <div class="register-box">
        <div class="register-logo">
            <a href="{% url 'index'%}">
                <b>PcGlobal</b>
            </a>
        </div>
        <div class="card card-outline card-primary">
            <div class="card-header ">
                <h3 class="card-title float-none text-center">
                    Crear una nueva cuenta                    
                </h3>
            </div>
            
        <div class="card-body register-card-body">
            {# Mostrar errores generales si los hay #}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div class="row">
                <div class="col">
                    <!-- Input Nombres -->
                    <div class="input-group mb-3">
                        <input type="text" name="first_name" class="form-control" value="{{ form.first_name.value|default:'' }}" placeholder="Nombres" autofocus>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                        {{ form.first_name.errors }}
                    </div>

                    <!-- Input Apellidos -->
                    <div class="input-group mb-3">
                        <input type="text" name="last_name" class="form-control" value="{{ form.last_name.value|default:'' }}" placeholder="Apellidos">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                        {{ form.last_name.errors }}
                    </div>

                    <!-- Input Sexo/Genero-->
                    <div class="input-group mb-3">
                        <select name="id_genero" class="form-select">
                            <option selected>Selecciona tu género</option>
                            {% for gender in form.id_genero.field.queryset %}
                                <option value="{{ gender.id }}">{{ gender.nombre }}</option>
                            {% endfor %}
                        </select>
                        {{ form.id_genero.errors }}
                    </div>

                    <!-- Input Tipo de Documento -->
                    <div class="input-group mb-3">
                        <select name="id_tipo_documento" class="form-select">
                            <option selected>Selecciona tu tipo de documento</option>
                            {% for doc_type in form.id_tipo_documento.field.queryset %}
                                <option value="{{ doc_type.id }}">{{ doc_type.nombre }}</option>
                            {% endfor %}
                        </select>
                        {{ form.id_tipo_documento.errors }}
                    </div>

                    <!-- Input Número de Documento -->
                    <div class="input-group mb-3">
                        <input type="number" name="num_doc" class="form-control" value="{{ form.num_doc.value|default:'' }}" placeholder="Número de documento">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-id-card"></span>
                            </div>
                        </div>
                        {{ form.num_doc.errors }}
                    </div>
                </div>

                <div class="col">

                    <!-- Input Numero Telefonico -->
                    <div class="input-group mb-3">
                        <input type="number" name="num_tel" class="form-control"
                        value="{{ form.num_tel.value|default:'' }}" placeholder="Número de teléfono">

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-phone "></span>
                            </div>
                        </div>
                        {{ form.num_tel.errors }}
                    </div>

                    <!-- Input Fecha de Nacimiento -->
                    <div class="input-group mb-3">
                        <input type="date" name="fecha_nacimiento" class="form-control "
                        value="{{ form.fecha_nacimiento.value|default:'' }}">
                        {{ form.fecha_nacimiento.errors }}
                    </div>

                    <!-- Input Email -->
                    <div class="input-group mb-3">
                        <input type="email" name="email" class="form-control "
                        value="{{ form.email.value|default:'' }}" placeholder="Email">

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope "></span>
                            </div>
                        </div>
                        {{ form.email.errors }}
                    </div>

                    <!-- Input Contraseña -->
                    <div class="input-group mb-3">
                        <input type="password" name="password" class="form-control" placeholder="Contraseña">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        {{ form.password.errors }}
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" name="password_confirmation" class="form-control" placeholder="Confirmar la contraseña">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        {{ form.password_confirmation.errors }}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-block btn-flat btn-primary">
                <span class="fas fa-user-plus"></span>
                Registrarse
            </button>
        </div>
        <div class="card-footer ">
            <p class="my-0">
                Si ya estas registrado puedes <a href="{% url 'login' %}">iniciar sesion</a>
            </p>
        </div>
        </div>
    </div>
{% endblock %}
