{# Extension Layout principal#}
{% extends 'auth_layout.html' %}

{# Se usa el "load static" para hacer uso de archivos estáticos #}
{% load static %}

{# Declaracion comlemento titulo pagina #}
{% block title_header %}Login{% endblock  %}

{# Declaracion Clases Body #}
{% block body_class %}flex flex-col min-h-screen bg-gray-100{% endblock %}

{# Declaracion Clases Main #}
{% block main_class %}container my-8 text-justify mx-auto flex-grow mx-2{% endblock %}

{# Contenido Principal pagina #}
{% block main %}

    <form method="post">

        {% csrf_token %}
        
        {{form.as_p}}

        <input type="submit" value="Register">
    </form>

{% endblock %}