{# Extension Layout principal#}
{% extends 'layouts/landing_layout.html' %}

{# Se usa el "load static" para hacer uso de archivos estáticos #}
{% load static %}

{# Se le da formato a los precios #}
{% load products_extras %}

{# Declaracion comlemento titulo pagina #}
{% block title_header %}{{category.nombre}}{% endblock  %}

{# Declaracion Clases Body #}
{% block body_class %}flex flex-col min-h-screen bg-gray-100{% endblock %}

{# Declaracion Clases Main #}
{% block main_class %}container mt-3 mb-10 text-justify mx-auto flex-grow mx-2{% endblock %}

{# Contenido Principal pagina #}
{% block main %}

    <h1 class="text-center font-bold text-2xl py-10">{{category.nombre}}</h1>

    <div class="block sm:hidden">
        {% include 'products/app/paginator.html' %}
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 productos gap-4">

        {% for product in entity %}
            <div class="my-3 border rounded shadow">

                
                <h3 class="p-3 text-center mx-10 border-b border-gray-600 font-medium">{{product.modelo}}</h3>

                <img src="/static/img/{{ product.imagen }}" alt="{{product.modelo}}" class="my-3">
                {# Se accede a la carpeta 'storage/' y se accede a la posicón del registro para cargar la imágen #}
                <p class="text-center py-2 border-t border-gray-600 mx-10">{{ product.precio|price_format }}</p>
                {# El segundo argumento de number_format especifica la cantidad de decimales (en este caso, 0), el tercer argumento es el separador decimal (en este caso, un punto) y el cuarto argumento es el separador de miles (también un punto). #}
                <p class="flex">
                <a href="{% url 'productos' product.slug %}" class="bg-indigo-600 hover:bg-indigo-700 text-center mx-auto mb-3 rounded text-white py-2 px-8">Detalles</a>
                </p>
            </div>
        {% empty %}
            <div class="flex flex-col w-full sm:w-1/2 mx-auto col-span-3">
                <p class="bg-red-600 text-center py-2 text-white font-semibold rounded">
                  Por el momento no hay productos <i class="fa-regular fa-circle-xmark ms-1"></i>
                </p>
            </div>
        {% endfor %}
    </div>
    <div class="hidden sm:block">
        {% include 'products/app/paginator.html' %}
    </div>
{% endblock %}