{# Importacion Archivos estaticos (Resources)#}
{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Codificacion de los caracteres-->
        <meta charset="UTF-8">

        <!-- Escala de representacion en la pantalla del cliente -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Establecer compatibilidad con Internet explorer al ejecutarlo en edge -->
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Titulo Principal Pagina web (Nombre empresa + Titulo Personalizado)-->
        <title>{% block title_header %}Default{% endblock %} - PcGlobal</title>

        <!-- Importacion Bootstrap -->
        <link rel="stylesheet" href="{% static 'css/boostrap.css' %}">
        <script src="{% static 'js/boostrap.js' %}"></script>

        <!-- Importacion Hoja de estilos personalizada -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body class="{% block body_class %}{% endblock %}">

        <!-- Cabeza sitio web -->
        <header>

        </header>

        <!-- Contenido Pricnipal-->
        <main class="{% block main_class %}{% endblock %}">

            {# Definicon bloque de contenido principal#}
            {% block main%}{% endblock %}

        </main>

        {# Importacion Footer #}
        {% include 'components/footer.html' %}

        <!-- Carga JS Personalizado -->
        <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>